<div class="about" id="about">
    <div class="about__left">
      <span class="sectiontag">&lt;section&gt;</span>
      <h1 class="about__headingPrimary">
        <app-animated-letters-fast
          [letterClass]="letterClass"
          [strArray]="nameArray"
          [idx]="15">
        </app-animated-letters-fast>
      </h1>
      <div class="about__description">
        Hello! My name is
        <span class="about__link">Manu&nbsp;Sisodia</span>
        and I’m a Full-Stack Developer located in India and i have a serious passion for Compuer Science, Data Structure and Algorithms, Web Devlopment.
        Well-organised person, problem solver, focused student at
        <a href="https://nitrr.ac.in/" target="_blank" rel="noreferrer" class="about__link">National Institute Of Technology, Raipur</a>
        with high attention to detail. Fan of Gaming esports, outdoor activities, TV series and Japanese anime.
        <br />
        <br />
        Here are the few technologies that I&apos;have been working recently:
        <br />
        <ul class="about__skillsList">
          <li class="about__skillsItems">HTML and CSS</li>
          <li class="about__skillsItems">Javascript</li>
          <li class="about__skillsItems">Python</li>
          <li class="about__skillsItems">Angular</li>
          <li class="about__skillsItems">Nodejs</li>
          <li class="about__skillsItems">Expressjs</li>
          <li class="about__skillsItems">React.js & Redux</li>
          <li class="about__skillsItems">Django</li>
          <li class="about__skillsItems">Next.js</li>
          <li class="about__skillsItems">Web Sockets</li>
          <li class="about__skillsItems">SQL</li>
          <li class="about__skillsItems">DSA</li>
          <li class="about__skillsItems">Bootstrap</li>
          <li class="about__skillsItems">TailWind</li>
          <li class="about__skillsItems">TypeScript</li>
        </ul>
      </div>
      <span class="sectiontag">&lt;/section&gt;</span>
    </div>
    <div class="about__right">
      <div class="stage-cube-cont">
        <div class="cubespinner">
          <div class="face1">
            <svg class="about__icon">
              <use href="symbol-defs.svg#icon-python"></use>
            </svg>
          </div>
          <div class="face2">
            <svg class="about__icon">
              <use href="symbol-defs.svg#icon-css3"></use>
            </svg>
          </div>
          <div class="face3">
            <svg class="about__icon">
              <use href="symbol-defs.svg#icon-javascript"></use>
            </svg>
          </div>
          <div class="face4">
            <svg class="about__icon">
              <use href="symbol-defs.svg#icon-mongodb"></use>
            </svg>
          </div>
          <div class="face5">
            <svg class="about__icon">
              <use href="symbol-defs.svg#icon-node-dot-js"></use>
            </svg>
          </div>
          <div class="face6">
            <svg class="about__icon">
              <use href="symbol-defs.svg#icon-react"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>