<nav class="navbar" id="nav">
  <div class="navbar__left">
    <a href="" routerLink="/" class="navbar__link">
      <img alt="logo" src="logo.png" class="navbar__img" />
    </a>

    
    <div class="navbar__hamburger" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar__right" [class.navbar__right--open]="isMobileMenuOpen">
    <ul class="navbar__list">
      <li class="navbar__items">
        <a href="/#about" class="navbar__itemsLink">
          <span class="navbar__itemsLinkNumeric">01.</span> About
        </a>
      </li>
      <li class="navbar__items">
        <a href="/#experience" class="navbar__itemsLink">
          <span class="navbar__itemsLinkNumeric">02.</span> Experience
        </a>
      </li>
      <li class="navbar__items">
        <a href="/#projects" class="navbar__itemsLink">
          <span class="navbar__itemsLinkNumeric">03.</span> Projects
        </a>
      </li>
      <li class="navbar__items">
        <a href="/#other" class="navbar__itemsLink">
          <span class="navbar__itemsLinkNumeric">04.</span> Coding Profiles
        </a>
      </li>
    </ul>
    <a
      href="https://drive.google.com/file/d/1BNzLb9rUKIE_B_JFHai6KfOeVAZctiTo/view?usp=drivesdk"
      target="_blank"
      rel="noreferrer"
      class="navbar__button"
    >
      Resume
    </a>
  </div>
</nav>
