.navbar {
    display: flex;
    align-items: center;
    padding: 2.5rem 4rem;
    height: 10rem;
    background-color: rgba(10, 25, 47, 0.85);
    width: 100%;
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    z-index: 11;
    animation: fadeInDown 1s forwards;
}

.navbar__left {
    flex: 0 0 30%;
}

.navbar__img {
    width: 4.4rem;
}

.navbar__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__list {
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.navbar__items:not(:last-child) {
    margin-right: 2rem;
}

.navbar__itemsLink,
.navbar__itemsLink:link,
.navbar__itemsLink:visited {
    text-decoration: none;
    color: var(--lightest-slate);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar__itemsLink:hover {
    color: var(--primary);
}

.navbar__itemsLinkActive {
    color: var(--primary);
}

.navbar__itemsLinkNumeric {
    color: var(--primary) !important;
    margin-right: 0.6rem;
}

.navbar__button,
.navbar__button:link,
.navbar__button:visited {
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: transparent;
    padding: 0.75rem 1.5rem;
    font-size: 1.35rem !important;
    border-radius: 4px;
}

.navbar__button:hover {
    background-color: rgba(255, 215, 0, 0.1); 
}

.navbar__buttonActive {
    color: var(--primary);
}


@media only screen and (max-width: 37.5em) {
    .navbar__right {
        display: none;
    }
}