<div class='left'>
    <main class='left__main'>
      <ul class='left__social'>
        <li class='left__linkItems'>
          <a href='https://github.com/manusisodia' class='left__links' target='_blank' rel='noreferrer'>
            <svg class='left__icon'>
              <use href='symbol-defs.svg#icon-github' />
            </svg>
          </a>
        </li>
        <li class='left__linkItems'>
          <a href='https://linkedin.com/in/manusisodia/' target='_blank' rel='noreferrer' class='left__links'>
            <svg class='left__icon'>
              <use href='symbol-defs.svg#icon-linkedin' />
            </svg>
          </a>
        </li>
      </ul>
      <div class='left__line'></div>
    </main>
  </div>