<div class="project" id="projects">
    <span class="sectiontag">&lt;section&gt;</span>
    <h1 class="about__headingPrimary">
      <app-animated-letters-fast
        [letterClass]="letterClass"
        [strArray]="nameArray"
        [idx]="15"
      ></app-animated-letters-fast>
    </h1>
  
    <section class="project__section">
      <div class="project__left">
        <img class="project__img" src="project1.png" />
      </div>
      <div class="project__right">
        <h3 class="project__headingTertiary">Featured Project</h3>
        <a href="https://manusisodia.pythonanywhere.com/" target="_blank" rel="noreferrer" class="project__headingSecondary"><h2>CipherVault</h2></a>
        <div class="project__descriptionContainer">
          <p class="project__description">
            CipherVault is a secure and user-friendly password management application built using Django and Bootstrap. It focuses on both cybersecurity and usability, providing a comprehensive solution for storing and managing user passwords.
          </p>
          <div class="project__tags">HTML &nbsp; CSS &nbsp; JavaScript &nbsp; Python &nbsp; Django &nbsp; BootStrap</div>
          <div class="project__icons">
            <a href="https://github.com/manusisodia/CipherVault" target="_blank" rel="noreferrer" style="margin-right: 1.6rem">
              <svg class="project__icon"><use href="symbol-defs.svg#icon-github"></use></svg>
            </a>
            <a href="https://manusisodia.pythonanywhere.com/" target="_blank" rel="noreferrer">
              <svg class="project__icon"><use href="symbol-defs.svg#icon-external-link"></use></svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  
    <section class="project__section">
      <div class="project__left1">
        <h3 class="project__headingTertiary">Featured Project</h3>
        <a href="https://sketchbook-lake.vercel.app/" target="_blank" rel="noreferrer" class="project__headingSecondary"><h2>Sketch Book</h2></a>
        <div class="project__descriptionContainer project__descriptionContainer1">
          <p class="project__description">
            "Sketch Book" is a dynamic drawing tool designed with Next.js, offering users a seamless platform to create illustrations, diagrams, and sketches.
          </p>
          <div class="project__tags">HTML &nbsp; CSS &nbsp; JavaScript &nbsp; Next Js &nbsp; Node Js &nbsp;Redux &nbsp; WebSockets</div>
          <div class="project__icons project__icons1">
            <a href="https://github.com/manusisodia/Sketchbook" target="_blank" rel="noreferrer" style="margin-right: 1.6rem">
              <svg class="project__icon"><use href="symbol-defs.svg#icon-github"></use></svg>
            </a>
            <a href="https://sketchbook-lake.vercel.app/" target="_blank" rel="noreferrer">
              <svg class="project__icon"><use href="symbol-defs.svg#icon-external-link"></use></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="project__right">
        <img class="project__img" src="project2.png" />
      </div>
    </section>
  
    <section class="project__section project__section3">
      <div class="project__left">
        <img class="project__img" src="project3.png" />
      </div>
      <div class="project__right">
        <h3 class="project__headingTertiary">Featured Project</h3>
        <a href="https://cpshorts.vercel.app/" target="_blank" rel="noreferrer" class="project__headingSecondary"><h2>CP Shorts</h2></a>
        <div class="project__descriptionContainer">
          <p class="project__description">
            CP Shorts takes your parameters like problem rating range and problem tags into consideration and utilizes the Codeforces API to query for problems.
          </p>
          <div class="project__tags">HTML &nbsp; CSS &nbsp; JavaScript &nbsp; Next Js</div>
          <div class="project__icons">
            <a href="https://github.com/manusisodia/cpshorts" target="_blank" rel="noreferrer" style="margin-right: 1.6rem">
              <svg class="project__icon"><use href="symbol-defs.svg#icon-github"></use></svg>
            </a>
            <a href="https://cpshorts.vercel.app/" target="_blank" rel="noreferrer">
              <svg class="project__icon"><use href="symbol-defs.svg#icon-external-link"></use></svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  
    <ul class="projectResp__list">
      <li class="projectResp__items">
        <div class="projectResp__card">
          <div class="projectResp__cardTop">
            <svg class="projectResp__cardFolder"><use href="symbol-defs.svg#icon-folder"></use></svg>
            <div class="projectResp__cardLink">
              <a href="https://github.com/manusisodia/CipherVault" target="_blank" rel="noreferrer" style="margin-right: 1.6rem">
                <svg class="projectResp__icon"><use href="symbol-defs.svg#icon-github"></use></svg>
              </a>
              <a href="https://manusisodia.pythonanywhere.com/" target="_blank" rel="noreferrer">
                <svg class="projectResp__icon"><use href="symbol-defs.svg#icon-external-link"></use></svg>
              </a>
            </div>
          </div>
          <div class="projectResp__cardBody">
            <div class="projectResp__cardBodyHeading">Master Vault</div>
            <p class="projectResp__cardBodyDescription">
              Master Vault is a secure and user-friendly password management application built using Django and Bootstrap.
            </p>
          </div>
          <div class="projectResp__cardFooter">
            <div class="projectResp__tags">HTML &nbsp; CSS &nbsp; JavaScript &nbsp; Python &nbsp; Django &nbsp; BootStrap</div>
          </div>
        </div>
      </li>
      <li class="projectResp__items">
          <div class="projectResp__card">
              <div class="projectResp__cardTop">
                  <svg class="projectResp__cardFolder"><use href="symbol-defs.svg#icon-folder"></use></svg>
                  <div class="projectResp__cardLink">
                      <a href="https://github.com/manusisodia/Sketchbook" target="_blank" rel="noreferrer" style="margin-right: 1.6rem">
                          <svg class="projectResp__icon"><use href="symbol-defs.svg#icon-github"></use></svg>
                      </a>
                      <a href="https://sketchbook-lake.vercel.app/" target="_blank" rel="noreferrer">
                          <svg class="projectResp__icon"><use href="symbol-defs.svg#icon-external-link"></use></svg>
                      </a>
                  </div>
              </div>
              <div class="projectResp__cardBody">
                  <div class="projectResp__cardBodyHeading">Sketch Book</div>
                  <p class="projectResp__cardBodyDescription">
                      "Sketch Book" is a dynamic drawing tool designed with Next.js,Canvas API, offering users a seamless platform to create illustrations, diagrams, and sketches.
                  </p>
              </div>
              <div class="projectResp__cardFooter">
                  <div class="projectResp__tags">HTML &nbsp; CSS &nbsp; JavaScript &nbsp; Next Js &nbsp; Node Js &nbsp;Redux &nbsp; WebSockets</div>
              </div>
          </div>
      </li>
      <li class="projectResp__items">
          <div class="projectResp__card">
              <div class="projectResp__cardTop">
                  <svg class="projectResp__cardFolder"><use href="symbol-defs.svg#icon-folder"></use></svg>
                  <div class="projectResp__cardLink">
                      <a href="https://cpshorts.vercel.app/" target="_blank" rel="noreferrer" style="margin-right: 1.6rem">
                          <svg class="projectResp__icon"><use href="symbol-defs.svg#icon-github"></use></svg>
                      </a>
                      <a href="https://github.com/manusisodia/cpshorts" target="_blank" rel="noreferrer">
                          <svg class="projectResp__icon"><use href="symbol-defs.svg#icon-codepen"></use></svg>
                      </a>
                  </div>
              </div>
              <div class="projectResp__cardBody">
                  <div class="projectResp__cardBodyHeading">CP Shorts</div>
                  <p class="projectResp__cardBodyDescription">
                      CP Shorts takes your parameters like problem rating range and problem tags into consideration and utilizes the Codeforces API to query for problems.
                  </p>
              </div>
              <div class="projectResp__cardFooter">
                  <div class="projectResp__tags">HTML &nbsp; CSS &nbsp; JavaScript &nbsp; Next Js</div>
              </div>
          </div>
      </li>
    </ul>
    <br><br>
    <span class="sectiontag">&lt;/section&gt;</span>
  </div>