.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 0.5s ease forwards;
    animation-fill-mode: forwards;
    min-width: 10px;
    animation-delay: 0.1s;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    cursor: pointer;
}

.text-animate-hover:hover {
    animation: rubberBand 1s;
    color: var(--primary);
}

