<div class="other" id="other">
    <span class="sectiontag">&lt;section&gt;</span>
    <div class="other__container">
      <h1 class="other__headingPrimary">
        <app-animated-letters-fast
          [letterClass]="letterClass"
          [strArray]="nameArray"
          [idx]="15"
        ></app-animated-letters-fast>
      </h1>
    </div>
  
    <ul class="other__list">
      <li class="other__items">
        <div class="other__card">
          <div class="other__cardBody">
            <div class="other__cardBodyHeading">LeetCode</div>
            <div class="other__cardBodyDescription">
              Profile :<a href="https://leetcode.com/manusisodia5/" class="pl" target="_blank" rel="noopener noreferrer">manusisodia5</a>
              <br />
              Rating :1868+ | KNIGHT
              <br />
              Solved Problems: 1000+
              <br />
              Some Good Ranks in contest:
              <br />
              <ul class="li">
                <li> Global rank of 2119 in leetcode weekly 356</li>
                <li>Global rank of 1644 in leetcode weekly 367</li>
                <li>Global rank of 979 in leetcode biweekly 116</li>
                <li>Global rank of 1958 in leetcode biweekly 117</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="other__items">
        <div class="other__card">
          <div class="other__cardBody">
            <div class="other__cardBodyHeading">CodeForces</div>
             <div class="other__cardBodyDescription">
              Profile :<a href="https://codeforces.com/profile/ThetechyGuy" class="pl" target="_blank" rel="noopener noreferrer">ThetechyGuy</a>
              <br />
              Rating :1530 | SPECIALIST
              <br />
              Solved Problems: 500+
              <br />
              Some Good Ranks in contest:
              <br />
              <ul class="li">
                <li> Global rank of 1110 in codeforces educational round 172</li>
                <li>Global rank of 863 in codeforces round 1004</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="other__items">
        <div class="other__card">
          <div class="other__cardBody">
            <div class="other__cardBodyHeading">HackerRank</div>
            <p class="other__cardBodyDescription">
              <br/>
              Profile :<a href="https://www.hackerrank.com/manusisodia773?hr_r=1" class="pl" target="_blank" rel="noopener noreferrer">manusisodia773</a>
              <br />
              <br/>
              Rating :5* at C++ and 4* at Problem Solving
              <br />
              <br/>
              Solved Problems: 100+
              <br />
              <br/>
            </p>
          </div>
        </div>
      </li>
      <li class="other__items">
        <div class="other__card">
          <div class="other__cardBody">
            <div class="other__cardBodyHeading">Geek For Geeks</div>
            <p class="other__cardBodyDescription">
              <br />
              <br />
              Profile :<a href="https://auth.geeksforgeeks.org/user/manusisodia773/" class="pl" target="_blank" rel="noopener noreferrer">manusisodia773</a>
              <br />
              <br />
              Solved Problems: 100+
            </p>
          </div>
        </div>
      </li>
    </ul>
    <span class="sectiontag">&lt;/section&gt;</span>
  </div>