.page {
    display: flex;
}

.page__left,
.page__right {
    flex: 0 0 8%;
}

.page__center {
    flex: 1;
}


@media only screen and (max-width: 56.25em) { 
    .page__left,
    .page__right {
        display: none;
    }
}

@media only screen and (max-width: 37.5em) { 
    .page__left,
    .page__right {
        display: none;
    }
}