<div class="experience" id="experience">
  <span class="sectiontag">&lt;section&gt;</span>
  <h1 class="about__headingPrimary">
    <app-animated-letters-fast
      [letterClass]="letterClass"
      [strArray]="nameArray"
      [idx]="15">
    </app-animated-letters-fast>
  </h1>

  <div class="experience__container">
    <div class="experience__job">
      <h3 class="experience__job-title">SWE - DATA PLATFORM INTERN - <span class="experience__company">LOGWARD INDIA</span></h3>
      <p class="experience__job-date">Jan 2025 - July 2025 | Bengaluru, India | Python, FastAPI, Amazon S3, MySQL, MongoDB</p>
      <ul class="experience__job-details">
        <li>Automated MongoDB to S3 data archiving, boosting data processing efficiency by 80%.</li>
        <li>Designed and built transformation logic for a new, scalable data ingestion platform.</li>
        <li>Developed robust backend setup and REST APIs to power the data ingestion platform.</li>
        <li>Offered Full time role after the completion of Internship.</li>
      </ul>
    </div>
  </div>

  <span class="sectiontag">&lt;/section&gt;</span>
</div>